<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>

    <%- include('./partials/header') %> 

    <main class="main-products">
        
        <section class="ultimos-lanzamientos">
            <h2>Lo m치s nuevo</h2>
            <% for (let i = 0; i < newModels.length; i++) {%>
                <article>
                    <a href="/products/detail/<%= newModels[i].id %>"><img src="/images/products/<%= newModels[i].image %>" alt="Lo m치s nuevo"></a>
                    <p><%= newModels[i].name%></p>
                    <div class="boton-comprar-products">
                        <a href="/products/detail/<%= newModels[i].id %>"><button type="submit" class="button-form-products">Comprar</button></a>
                    </div>
                </article>
            <% } %> 
        </section>

        <section class="favoritos">
            <h2>Lo m치s vendido</h2>
            <% for (let i = 0; i < favoriteProducts.length; i++) {%>
                <article>
                    <a href="/products/detail/<%= favoriteProducts[i].id %>"><img src="/images/products/<%= favoriteProducts[i].image %>" alt="Lo m치s nuevo"></a>
                    <p><%= favoriteProducts[i].name%></p>
                    <div class="boton-comprar-products">
                        <a href="/products/detail/<%= favoriteProducts[i].id %>"><button type="submit" class="button-form-products">Comprar</button></a>
                    </div>
                </article>
            <% } %> 
        </section>

    </main>

    <%- include('./partials/footer') %>

</body>
</html>