<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>

    <%- include('./partials/header') %> 

    <main class="main-products">
        
        <section class="ultimos-lanzamientos">
            <h2>Productos</h2>
            <% for (let i = 0; i < products.length; i++) {%>
                <article>
                    <a href="/products/detail/<%= products[i].id %>"><img src="/images/products/<%= products[i].image %>" alt="Lo más nuevo"></a>
                    <p><%= products[i].name%></p>
                    <div class="boton-comprar-products">
                        <a href="/products/detail/<%= products[i].id %>"><button type="submit" class="button-form-products">Comprar</button></a>
                    </div>
                </article>
            <% } %> 
        </section>

        

    </main>

    <%- include('./partials/footer') %>

</body>
</html>