<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>


    <main class="main-register">
        
        <h2 class="titulo producto">
            CREAR PRODUCTO
        </h2>
        <form class='form-product-register' action="/products/crearProducto" method="POST" enctype="multipart/form-data">
            <section class="producto">
                <div class="nombre top">
                    <label class="label" for="modelo">Modelo:</label>
                    <input  type="text" name="modelo"  id="control" value="<%= locals.oldData && oldData.modelo != "" ? oldData.modelo : null%>">
                </div>
                <ul class="errorModelo"></ul>
                <% if (locals.errors && errors.modelo) { %>
                    <div class="texto-error-validacion">
                        <p><%= errors.modelo.msg %></p>
                    </div>
                <% } %>
                
                <%- include('./partials/selectCreate') %>
                
                <div class="nombre top">
            
                    <label for="foto">Foto</label>
                    <input type="file" id="foto" name="imagen" placeholder="foto">
                </div>
                <ul class="errorFoto"></ul>
                <% if (locals.errors && errors.imagen) { %>
                    <div class="texto-error-validacion">
                        <p><%= errors.imagen.msg %></p>
                    </div>
                <% } %>
                
            </section>

                
                


            <section class="buttons">
                <button id="enviar" type="submit">Crear producto</button>
                <button id="borrar" type="reset">Resetear</button>
                <button type="menu">Volver</button>
            </section>
        </form>
        

</main>
<script src="/js/products.js"></script>
<%- include('./partials/footer') %>

</body>
</html>