<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

    <%- include('./partials/header') %>


        <main class="main-register">

                <h2 class="titulo">
                    EDITA TU USUARIO
                </h2>
                <form action="/users/actualiza/<%= user.id %>" method="POST" enctype="multipart/form-data">
                    <section class="datos-personales">
                        <div class="div-nombre">
                            <label class="label" for="name">Nombre</label>
                            <input required type="text" name="name" id="name" class="control" value="<%= user.nombre %>">
                        </div>
                        <div class="div-apellido">
                            <label class="label" for="last_name">Apellido</label>
                            <input required type="text" name="last_name" id="last_name" class="control" value="<%= user.apellido %>">
                        </div>
                        <div class="div-correo" >
                            <label class="label" for="email">Correo electrónico</label>
                            <input required type="email" name="email" id="email" class="control" value="<%= user.mail %>">
                        </div>
                        <div class="div-image"> 
                            <label class="label" for="email">Imagen de perfil</label>
                            <input type="file" name="image">
                        </div>
                    </section>
    
                    <section class="pass">
                            <div class="div-pass">
                                <label class="label" for="pass">Contraseña</label>
                                <input required type="password" name="contrasenia" id="pass" class="control"><i class="fas fa-eye-slash"></i>
                            </div>
                            <!-- <div class="div-confirm-pass"> 
                                <label class="label" for="pass2">Confirmar contraeña</label>
                                <input required type="password" name="pass2" id="pass2" class="control"><i  id="i" class="fas fa-eye-slash"></i>
                            </div> -->
                            </div>
                    </section>
    
    
                    <section class="terminos-condiciones">
                        <div class="div-informacion">
                            <input class="cbx" type="checkbox" id="newletter">
                            <label for="newletter">Deseo recibir información sobre nuevos productos.</label>
                        </div>
                        <div class="div-terminos">
                            <input required class="cbx" type="checkbox" id="terminos">
                            <label for="terminos">He leído y acepto los <a href="#">Términos y Condiciones</a>.</label>
                        </div>
                    </section>
    
    
                    <section class="buttons">
                        <button id="enviar" type="submit">Modificar cuenta</button>
                        <button type="menu">Volver</button>
                    </section>
                </form>
                

        </main>

        <%- include('./partials/footer') %>

</html>