<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    
    <%- include('./partials/header') %>


    <main>

        <section class="banner_bluedays">

            <img src="./images/banner samsung.jpg">
        </section>

        <section class="cuatro">

            <div class="envio">
                <div class="encabezado_envio">
                    <div class="icono1">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="detalle1">
                        <p>Envio y retiro gratis</p>
                    </div>
                </div>

                <div class="pie_envio">
                    <p>ver más</p>
                </div>
            </div>

            <div class="cuotas">
                <div class="encabezado_cuotas">
                    <div class="icono2">
                        <i class="fas fa-file-contract"></i>
                   </div>
                  <div class="detalle2">
                    <p>Garantia de fabrica</p>
                  </div>
                  </div>
                  <div class="pie_cuotas">
                    <p>ver más</p>
                    </div>
                
            </div>
           

            <div class="garantia">
                <div class="encabezado_garantia">
                 <div class="icono3">
                    <i class="far fa-credit-card"></i>
                  </div>
                  <div class="detalle3">
                    <p>Cuotas sin interes</p>
                 </div>
                </div>
                <div class="pie_garantia">
                    <p>ver más</p>
                </div>
            </div>

            <div class="celulares">
                <div class="encabezado_celulares">
                <div class="icono4">
                    <i class="fas fa-clipboard-check"></i>
                </div>
                <div class="detalle4">
                    <p>Celulares liberados</p>
               </div>
            </div>
            <div class="pie_celulares">
                <p>ver más</p>
            </div>
            </div>


        </section>

        <section class="descuento">
            <img src="./images/descuento.jpg">

        </section>

        <section class="destacados">

            <h1> DESTACADOS</h1>
        </section>

        <section class="main-products">
        
            <section class="ultimos-lanzamientos">
                <h2>Lo más nuevo</h2>
                <% for (let i = 0; i < nuevo.length; i++) {%>
                    <article>
                        <a href="/products/detail/<%= nuevo[i].id %>"><img src="/images/products/<%= nuevo[i].imagen %>" alt="Lo más nuevo"></a>
                        <p><%= nuevo[i].name%></p>
                        <div class="boton-comprar-products">
                            <a href="/products/detail/<%= nuevo[i].id %>"><button type="submit" class="button-form-products">Detalle</button></a>
                        </div>
                    </article>
                <% } %> 
            </section>
    
            <section class="favoritos">
                <h2>Usados</h2>
                <% for (let i = 0; i < usado.length; i++) {%>
                    <article>
                        <a href="/products/detail/<%= usado[i].id %>"><img src="/images/products/<%= usado[i].imagen %>" alt="Lo más nuevo"></a>
                        <p><%= usado[i].name%></p>
                        <div class="boton-comprar-products">
                            <a href="/products/detail/<%= usado[i].id %>"><button type="submit" class="button-form-products">Detalle</button></a>
                        </div>
                    </article>
                <% } %> 
            </section>
    
        </section>


    </main>


    <%- include('./partials/footer') %>

    
</body>
</html>