<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>


        <main class="main-login">

                <h2 class="titulo">INICIAR SESIÓN</h2>
                <form class="form-login" action="/users/login" method="POST">

                <section class="datos-usuario">
                    <div class="div-correo" >
                        <label class="label" for="email">Correo electrónico</label>
                        <input type="text" name="email" id="email" class="control" value="<%= locals.old ? locals.old.email : "" %>" autoFocus>
                        <% if (locals.errors && errors.email) { %>
                            <div class="texto-error-validacion">
                            <%= errors.email.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <ul class="errorEmail"></ul>
                    <div class="div-pass">
                        <label class="label" for="pass">Contraseña</label>
                        <input type="password" name="contrasenia" id="contrasenia" class="control"><i class="fas fa-eye-slash"></i>
                        <% if (locals.errors && errors.contrasenia) { %>
                            <div class="texto-error-validacion">
                            <%= errors.contrasenia.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <ul class="errorPassword"></ul>
                    <div class="div-recordar-usuario">
                        <div class="div-recordar">
                            <input class="cbx" type="checkbox" name="rememberUser" id="rememberUser">
                            <label id="label" for="rememberUser">Recordar usuario</label>
                        </div>

                        <label for=""> <a href="#">¿Olvidaste tu contraseña?</a></label>

                    </div>
                    
                </section>

                <section class="buttons">
                    <button id="iniciar-sesion" type="submit">Iniciar sesión</button>
                    <button type="menu">Volver</button>
                </section>
                
            </form>
                
    
                    <p class="register">¿Aún no tienes cuenta? <a href="/users/register">Creá tu cuenta</a></p>
        </main>

        <script src="/js/users.js"></script>
        <%- include('./partials/footer') %>

</html>