<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1 class="carrito-titulo">Mi Carrito</h1>
        <div class="section-2">
    <section class="main-section">
        <% let precioAcum = 0 %>
        <% for (let i=0; i<carrito.length ; i++){%>
        <% let id = carrito[i].id %>
        <% precioAcum += carrito[i].precio_unitario; %>
        <article class="articulos"><img class="articulo1-img" src="/images/products/<%=carrito[i].imagen %>" alt="a21"> 
           <form action="/products/sacarCarrito/<%= id %>" method="POST" >
            <button type="submit" class="carrito-delete">X</button>
           </form> 
        
        <button class="boton-detalle"><%=carrito[i].modelo %></button></article>

        <%}%>
        
    </section>
    <section class="promociones">
        <form action="/" method="GET">
           <div class="div-promocion"> <label for="codigo" id="promocion">¿Tenés un código de promoción?</label>
           <div class="enviar"><input type="text" name="codigo" id="codigo" placeholder="Ingresar tu cupon">
            
                <button class="cart-enviar">Enviar</button>
            </div></div>
    
           <div class="div-promocion2"> <label for="postal" id="promocion">Calcular costo de envio</label>
           <div class=" enviar"><input type="text" name="postal" id="postal" placeholder="Codigo postal">
            <button class="cart-enviar">Enviar</button></div></div>
           
           <div class="carrito-precio"><div class="precio">
            <p>Total $ <%= precioAcum %></p></div>
            <div class="boton-comprar"><button class="comprar">Comprar</button></div></div></div>
    
    </section>
    
    
    
    <h2 class="carrito-recomendado">Recomendado para vos:</h2>
    <section class="main-recomendado">
        <article class="main-articulos2"><div class="div-recomendado"><img class="articulos2" src="/images/products/moto g30.jpg" alt="g30">
            <button class="boton-detalle2"><a href="#"></a>Detalle</button></article></div>
        <article class="main-articulos2"><div class="div-recomendado"><img class="articulos2" src="/images/products/samsung a51.jpg" alt="a51">
        <button class="boton-detalle2"><a href="#"></a>Detalle</button></article></div>
        <article class="main-articulos2"><div class="div-recomendado"><img class="articulos2" src="/images/products/moto g9plus.jpg" alt="g9plus">
        <button class="boton-detalle2"><a href="#"></a>Detalle</button></article></div>
        
    
    
    </section>
    </main>
    <%- include('./partials/footer') %>
    
</body>
</html>