<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>


    <main class="main-register">
      
        <h2 class="titulo">
            Editar <%= producto.modelo %> 
        </h2>
        <form action="/products/<%= producto.id %>/edit?_method=PUT" method="POST">
            <section class="producto">
                <div class="nombre">
                    <label class="label" for="modelo">Modelo</label>
                    <input  type="text" name="modelo"  class="control" value="<%= producto.modelo %>">
                </div>
                <div class="precio">
                    <label class="label" for="precio">Precio:</label>
                    <input type="number" name="precio" value="<%= producto.precio_unitario %>">
                </div>
                <%- include('./partials/selectEdit') %>
                
                
            </section>

            <!-- <section class="pass">              
                <div class="foto">
            
                    <label for="foto">Foto</label>
                    <input type="file" id="foto" name="imagen" placeholder="foto">
            
                </div>
                
            </section> -->

            


            <section class="buttons">
                <button id="enviar" type="submit">Editar producto</button>
                <button id="borrar" type="reset">Resetear</button>
                <button type="menu">Volver</button>
            </section>
        </form>
        

</main>

<%- include('./partials/footer') %>

</body>
</html>