<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <script defer src="/js/detalleProducto.js"></script>

<body>
    <!-- COMIENZO DE HEADER -->
    <%- include('./partials/header') %>

    <!--  FIN DE HEADER -->

    <!-- CONTENIDO DETALLE PRODUCTO -->
    <main>
        <div class="producto-descripcion-todo-pd">
            <section class="product-img-box-pd">
                <div class="imgchicas-celu-elegido-junto-pd">
                    <div class="celu-elegido-pd">
                        <div class="imagen-celu"></div>
                        <p class="condicion"></p>
                    </div>
                </div>
            </section>
            <section class="product-detail-pd">
                <div class="nombre-celu-pd">                  
                    
                </div>
                <div class="precio-detalleProducto-pd">
                    <h2></h2>
                </div>
                <div class="detalle-celu1-pd">
                    <!-- <img src="/images/detalle a51.jpg" alt="" width="100%"> -->
                    <h3>LA PANTALLA PARA VER MÁS DEL MUNDO</h3>
                </div>
                <!-- <div class="detalle-celu2-pd">
                    <h4>
                        <%= productoSeleccionado ? productoSeleccionado.modelo : 'no disponible' %> 
                    </h4>
                </div> -->
                <i onclick="anterior()" class="anterior fas fa-caret-square-left"></i>
                <i onclick="siguiente()" class="siguiente fas fa-caret-square-right"></i>

                <section class="detalle-producto">
                    <ul>
                        <li>Marca: <span class="normal marca"></span></li>
                        <li>Sistema operativo: <span class="normal sistema-operativo"></span></li>
                        <li>Memoria: <span class="normal memoria"></span></li>
                        <li>Memoria ram: <span class="normal ram"></span></li>
                        <li>Tamaño de pantalla: <span class="normal tamaño-pantalla"></span></li>
                        <li>Resolución de pantalla: <span class="normal resolucion-pantalla"></span></li>
                        <li>Procesador: <span class="normal procesador"></span></li>
                        <li>Color: <span class="normal color"></span></li>
                    </ul>
                </section>


        
                <% if(locals.isLogged && locals.admin) { %>
                   <div class="editar-eliminar">
            <button class="boton-editar"><a href="/products/<%= productoSeleccionado ? productoSeleccionado.id : 'no disponible' %>/edit">Editar</a></button>
            
            <form action="/products/<%= productoSeleccionado ? productoSeleccionado.id : 'no disponible' %>?_method=DELETE" method="POST" id="formulario-delete">
            <button class="boton-eliminar">Eliminar</button>
            </form>
        </div>

        <% }%>
        </div>
        
    </section>
            <!-- <div class="botones1-pd">
                <div class="boton-comprar-pd">
                    <a href="#"><button type="submit" class="button-form-pd">Comprar</button></a>
                </div> -->
                <% if(!locals.isLogged || locals.isLogged && !locals.admin) { %>
                    
                    <div class="agregar-carrito">
                        <form  action='/products/carrito/<%=productoSeleccionado ? productoSeleccionado.id : 'no disponible'%>' class="boton-carrito-pd" method="POST">
                            <label class="boton-carrito-pd" for="cantidad">Cantidad</label>
                            <input  class='canti' type="text" name="cantidad"  class="control" value="1" autocomplete="off">
                            <a href="#"><button type="submit" class="button-form-pd">Agregar al carrito</button></a>
                        </form>
    
                    </div>
                    <div class="div-volver">
                        <a href="/products"><button class="volver">Volver</button></a>
                    </div>
                    
                <% } %> 
                
            </div>
            <div>
                
            </div>
            <div class="botones3-pd">
                <a href="#"><button type="submit" class="button-form4-pd">Comprar</button></a>
            </div>
            <div class="medios-de-pago-todo-pd">
                <div class="medios-de-pago-pd">
                    <h3 class="subtitulo-medio-pago-pd"> Medios de pago</h3>
                    <div class="payment-methods1-pd">
                        <p>¡Tarjetas de crédito y cuotas sin interés con bancos seleccionados!</p>
                        <img src="/images/logos-tarjetascredito.jpg" alt="" width="40%" >
                    </div>
                    <div class="payment-methods2-pd">
                        <p>Tarjetas de débito</p>
                        <img src="/images/logos-tarjetasdebito.jpg" alt="" width="25%" >
                    </div>
                    <div class="payment-methods3-pd">
                        <p>Efectivo</p>
                        <img src="/images/logos-efectivo.jpg" alt="" width="30%">
                    </div>
                </div>
            </div>
            <div class="preguntas-frecuentes-todo-pd">
                <div class="preguntas-frecuentes-pd">
                    <h3 class="subtitulo-preguntas-pd">Preguntas frecuentes</h3>
                </div>
                <div class="subtitulo-haz-pregunta-pd">
                    <p>¡Haz tu pregunta!</p>
                </div>
                <form action="/productDetail" method="POST" class="cuadro-pregunta">
                    <label for="question"></label>
                    <input type="text" name="question" id="question" placeholder="Escribí tu pregunta...">
                </form>
            </div> 
                <div class="boton-preguntar-todo-pd">
                    <a href="#"><button type="submit" class="button-form-preguntar-pd">Preguntar</button></a>
                </div>
            <div class="comentarios-todo-pd">
                <div class="opiniones-sobre-producto-pd">
                    <h3 class="subtitulo-opiniones-pd">Opiniones sobre el producto</h3>
                </div>
            </div>                     
    <div class="banner-bajo-pd">
        <img src="/images/banner enterate.jpg">
    </div>
    </main>
        
    <!-- FIN CONTENIDO DETALLE PRODUCTO -->
    
    <!-- COMIENZO DE FOOTER -->
    <%- include('./partials/footer') %>

    <!-- FIN DE FOOTER -->
</body>
</html>