<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    <!-- COMIENZO DE HEADER -->
    <%- include('./partials/header') %>

    <!--  FIN DE HEADER -->

    <!-- CONTENIDO DETALLE PRODUCTO -->
    <main>
        <div class="producto-descripcion-todo-pd">
            <section class="product-img-box-pd">
                <div class="imgchicas-celu-elegido-junto-pd">
                    <!-- <div class="mas-vistas-pd">
                        <ul class="imagenes-chicas-pd">
                            <li><a href="#"><img src="/images/chiquita a51.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/images/chiquita2 a51.jpg" alt=""></a></li>
                        </ul>
                    </div> -->
                    <div class="celu-elegido-pd">
                        <img src="/images/products/<%=productoSeleccionado.imagen%>" alt="">
                    </div>
                </div>
            </section>
            <section class="product-detail-pd">
                <div class="nombre-celu-pd">
                    <!-- <img src="/images/samsung a51 nombre.jpg" alt="" width="90%"> -->
                    <h1><%= productoSeleccionado.modelo %> </h1>
                </div>
                <div class="precio-detalleProducto-pd">
                    <!-- <img src="/images/a51 precio.jpg" alt="" width="70%"> -->
                    <h2>$<%= productoSeleccionado.precio_unitario %> </h2>
                </div>
                <div class="detalle-celu1-pd">
                    <!-- <img src="/images/detalle a51.jpg" alt="" width="100%"> -->
                    <h3>LA PANTALLA PARA VER MÁS DEL MUNDO</h3>
                </div>
                <div class="detalle-celu2-pd">
                    <h4>
                        <%= productoSeleccionado.modelo %> 
                    </h4>
                    </div>

                    <% if(locals.isLogged && locals.admin) { %>
                   <div class="editar-eliminar">
            <button class="boton-editar"><a href="/products/<%= productoSeleccionado.id %>/edit">Editar</a></button>
            <form action="/products/<%= productoSeleccionado.id %>?_method=DELETE" method="POST" id="formulario-delete">
            <button class="boton-eliminar">Eliminar</button>
            </form>
        </div>

        <% }%>
        </div>
        
    </section>
            <!-- <div class="botones1-pd">
                <div class="boton-comprar-pd">
                    <a href="#"><button type="submit" class="button-form-pd">Comprar</button></a>
                </div> -->
                <form  action='/products/carrito/<%=productoSeleccionado.id%>' class="boton-carrito-pd" method="POST">
                    <label class="boton-carrito-pd" for="cantidad">Cantidad</label>
                    <input  class='canti' type="text" name="cantidad"  class="control" value="1">
                    <a href="#"><button type="submit" class="button-form-pd">Agregar al carrito</button></a>
                    <a href="/products"><button class="volver">Volver</button></a>
                </form>
            </div>
            <div>
                
            </div>
            <div class="botones3-pd">
                <a href="#"><button type="submit" class="button-form4-pd">Comprar</button></a>
            </div>
            <div class="medios-de-pago-todo-pd">
                <div class="medios-de-pago-pd">
                    <h3 class="subtitulo-medio-pago-pd"> Medios de pago</h3>
                    <div class="payment-methods1-pd">
                        <p>¡Tarjetas de crédito y cuotas sin interés con bancos seleccionados!</p>
                        <img src="/images/logos-tarjetascredito.jpg" alt="" width="40%" >
                    </div>
                    <div class="payment-methods2-pd">
                        <p>Tarjetas de débito</p>
                        <img src="/images/logos-tarjetasdebito.jpg" alt="" width="25%" >
                    </div>
                    <div class="payment-methods3-pd">
                        <p>Efectivo</p>
                        <img src="/images/logos-efectivo.jpg" alt="" width="30%">
                    </div>
                </div>
            </div>
            <div class="preguntas-frecuentes-todo-pd">
                <div class="preguntas-frecuentes-pd">
                    <h3 class="subtitulo-preguntas-pd">Preguntas frecuentes</h3>
                </div>
                <div class="subtitulo-haz-pregunta-pd">
                    <p>¡Haz tu pregunta!</p>
                </div>
                <form action="/productDetail" method="POST" class="cuadro-pregunta">
                    <label for="question"></label>
                    <input type="text" name="question" id="question" placeholder="Escribi tu pregunta...">
                </form>
            </div> 
                <div class="boton-preguntar-todo-pd">
                    <a href="#"><button type="submit" class="button-form-preguntar-pd">Preguntar</button></a>
                </div>
            <div class="comentarios-todo-pd">
                <div class="opiniones-sobre-producto-pd">
                    <h3 class="subtitulo-opiniones-pd">Opiniones sobre el producto</h3>
                </div>
            </div>                     
    <div class="banner-bajo-pd">
        <img src="/images/banner enterate.jpg">
    </div>
    </main>
        
    <!-- FIN CONTENIDO DETALLE PRODUCTO -->
    
    <!-- COMIENZO DE FOOTER -->
    <%- include('./partials/footer') %>

    <!-- FIN DE FOOTER -->
</body>
</html>