<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1 class="carrito-titulo">Mi Carrito</h1>
        <div class="section-2">
    <section class="main-section">
        
        <%let acum = 0;%>
        <% for (let i = 0 ;i< productos.length; i++){%>
            <% acum += productos[i].detalle.precio_unitario %>
            
        <article class="articulos">
            <form class="borrar" action="/products/sacarCarrito/<%=productos[i].id%>" method="POST" >
                <button type="submit" class="carrito-delete">X</button>
               </form> 
            <img class="articulo1-img" src="/images/products/<%=productos[i].detalle.imagen%>" alt="a21"> 
           
        
        <button class="boton-detalle"><%=productos[i].detalle.modelo %></button>
        <button class="boton-detalle">Cantidad: <%=productos[i].cantidad %></button>
    </article>

        <%}%>
        
        
    </section>
    <section class="promociones">
        
           <div class="div-promocion"> <label for="codigo" id="promocion">¿Tenés un código de promoción? </label>
           <div class="enviar"><input type="text" name="codigo" id="codigo" placeholder="Ingresar tu cupon">
            
                <button class="cart-enviar">Enviar</button>
            </div></div>
    
           <div class="div-promocion2"> <label for="postal" id="promocion">Calcular costo de envio</label>
           <div class=" enviar"><input type="text" name="postal" id="postal" placeholder="Codigo postal">
            <button class="cart-enviar">Enviar</button></div></div>
           
           <div class="carrito-precio"><div class="precio">
            <p>Total $ <%= acum %> </p></div>
            <form action="/products/comprar" method="POST">
            <div class="boton-comprar"><button type="submit" class="comprar">Comprar</button></div></div></div>
           </form>
    </section>
    
    
    
    <h2 class="carrito-recomendado">Recomendado para vos:</h2>
    <section class="main-recomendado">
        <article class="main-articulos2"><div class="div-recomendado"><img class="articulos2" src="/images/products/moto g30.jpg" alt="g30">
            <button class="boton-detalle2"><a href="#"></a>Detalle</button></article></div>
        <article class="main-articulos2"><div class="div-recomendado"><img class="articulos2" src="/images/products/samsung a51.jpg" alt="a51">
        <button class="boton-detalle2"><a href="#"></a>Detalle</button></article></div>
        <article class="main-articulos2"><div class="div-recomendado"><img class="articulos2" src="/images/products/moto g9plus.jpg" alt="g9plus">
        <button class="boton-detalle2"><a href="#"></a>Detalle</button></article></div>
        
    
    
    </section>
    </main>
    <%- include('./partials/footer') %>
    
</body>
</html>