<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
        <main class="main-profile">
            <h2>¡Bienvenido <%= user.name %>!</h2>
            <div class="info">
                <img src="/images/users/<%= user.Image %> " alt="profile image">
                <div class="datos">
                    <p> <strong>Nombre y apellido:</strong> <%= user.name %> <%= user.last_name %>  </p>
                    <p> <strong>Correo electrónico:</strong> <%= locals.userLogged.name %> </p>
                </div>
            </div>
            <div class="buttons">
                <form action="/" method="GET">
                    <button id="edit" type="submit">EDITAR</button>
                </form>
                <form action="/users/logout" method="GET">
                    <button id="logout" type="submit">CERRAR SESIÓN</button>
                </form>
            </div>
        </main>
        <%- include('./partials/footer') %>

</html>