<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

    <%- include('./partials/header') %>


        <main class="main-register">

                <h2 class="titulo">
                    CREÁ TU CUENTA
                </h2>
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                    
                    <section class="datos-personales">
                        <div class="div-nombre">
                            <label class="label" for="name">Nombre</label>
                            <input type="text" name="name" id="name" class="control" value="<%= locals.oldData ? oldData.name : null %>">
                            <ul class="errorName"></ul>
                            <% if (locals.errors && errors.name) { %>
                                <div class="texto-error-validacion">
                                    <p><%= errors.name.msg %></p>
                                </div>
                            <% } %>
                        </div>
                        <div class="div-apellido">
                            <label class="label" for="last_name">Apellido</label>
                            <input  type="text" name="last_name" id="last_name" class="control" value="<%= locals.oldData ? oldData.last_name : null %>">
                            <ul class="errorLast"></ul>
                            <% if (locals.errors && errors.last_name) { %>
                                <div class="texto-error-validacion">
                                <%= errors.last_name.msg %>
                                </div>  
                            <% } %>
                        </div>
                        <div class="div-correo" >
                            <label class="label" for="email">Correo electrónico</label>
                            <input  type="text" name="email" id="email" class="control" value="<%= locals.oldData ? oldData.email : null %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="texto-error-validacion">
                                <%= errors.email.msg %>
                                </div>  
                            <% } %>
                        </div>
                        <div class="div-image"> 
                            <label class="label" for="image">Imagen de perfil</label>
                            <input type="file" name="image">
                            <% if (locals.errors && errors.image) { %>
                                <div class="texto-error-validacion">
                                    <%= errors.image.msg %>
                                </div>
                            <% } %>
                        </div>
                    </section>
    
                    <section class="pass">
                            <div class="div-pass">
                                <label class="label" for="pass">Contraseña</label>
                                <input  type="password" name="contrasenia" id="pass" class="control" value="<%= locals.oldData ? oldData.contrasenia : null %>"><i class="fas fa-eye-slash"></i>
                                <% if (locals.errors && errors.contrasenia) { %>
                                    <div class="texto-error-validacion">
                                    <%= errors.contrasenia.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <!-- <div class="div-confirm-pass"> 
                                <label class="label" for="pass2">Confirmar contraeña</label>
                                <input required type="password" name="pass2" id="pass2" class="control"><i  id="i" class="fas fa-eye-slash"></i>
                            </div> -->
                            </div>
                    </section>
    
    
                    <section class="terminos-condiciones">
                        <div class="div-informacion">
                            <input class="cbx" type="checkbox" id="newletter">
                            <label for="newletter">Deseo recibir información sobre nuevos productos.</label>
                        </div>
                        <div class="div-terminos">
                            <input  class="cbx" type="checkbox" id="terminos">
                            <label for="terminos">He leído y acepto los <a href="#">Términos y Condiciones</a>.</label>
                        </div>
                    </section>
    
    
                    <section class="buttons">
                        <button id="enviar" type="submit">Crear cuenta</button>
                        <button type="menu">Volver</button>
                    </section>
                </form>
                

        </main>
        <script src="/js/register.js"></script> 
        <%- include('./partials/footer') %>

</html>