<header class="encabezado">
    <div class="logo_barra_manu_carrito">
        
        <div class="logo">
            <a href="/"><img  src="/images/logoSmart.jpg"></a>
        </div>
        <div class="barra_busqueda">
            <input type="search" placeholder="Que estas buscando?"><i class="fas fa-search"></i>
            
        </div>
        <% if(locals.isLogged) { %>
            <div class="iniciar_sesion3">
                <a href="/users/profile"><img src="/images/users/<%= locals.userLogged.imagen %> "></a>
            </div>
            <div class="crear_cuenta_full">
                        <p><%= locals.userLogged.name %></p></a>
            </div>
        <% } %>
        <div class="hamburguesa">
            <i class="fa fa-bars burger"></i>
        </div>
        <div class="carrito">
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        


    </div>

    <nav class="iniciar_crear_sesion">

        <% if(locals.isLogged) { %>

            <div class="usuario_mobile">
                <p ><%= locals.userLogged.nombre %></p>
            </div>

        <% } else {%>
            <div class="iniciar_sesion">
                <a href="/users/login"><p class="inicia_mobile"> Iniciar Sesión</p></a>
            </div>

            <% } %>

        <div class="iniciar_sesion2">
            <a href="/products"><p class="pys"> Productos</p></a>
        </div>
        <div class="crear_producto">
            <a href="/crearProducto"><p class="pys"> Crear producto  </p></a>
        </div>

        <% if(locals.isLogged) { %>
            <div class="cerrar_mobile">
                <a href="/users/logout" style="text-decoration:none"><p >Cerrar sesion</p></a>
            </div>

        <% } else {%>
            <!-- <div class="crear_cuenta">
                <a href="/users/register"><p>Crear cuenta</p></a>
            </div> -->
            <% }%>

        <div class="menu_lateral">
            <% if(locals.isLogged) { %>

                <!-- <div class="iniciar_sesion3">
                    <a href="/users/profile"><img src="/images/users/<%= locals.userLogged.Image %> "></a>
                </div> -->
                <!-- <div class="crear_cuenta_full">
                    <p><%= locals.userLogged.name %></p></a>
                </div> -->
                <div class="crear_cuenta_full">
                    <a href="/users/logout" style="text-decoration:none"><p class="cerrar">Cerrar sesion</p></a>
                </div>

            <% } else {%>

                <div class="iniciar_sesion3">
                    <a href="/users/login"><p> Iniciar Sesión</p></a>
                </div>
                <div class="crear_cuenta_full">
                    <a href="/users/register"><p>Crear cuenta</p></a>
                </div>

            <% } %>
        


        <div class="mi_carrito">
            <a href="/products/verCarrito"><p>Mi carrito <%= locals.cantrito%></p></a>
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>

    </nav>


</header>