<div class="precio-create top">
    <label class="label" for="precio">Precio:</label>
    <input type="number" id="precio-create" name="precio" value="<%= locals.oldData && oldData.precio != "" ? oldData.precio : null%>" autocomplete="off">
</div>
<ul class="errorPrecio"></ul>
<% if (locals.errors && errors.precio) { %>
    <div class="texto-error-validacion">
        <p><%= errors.precio.msg %></p>
    </div>
<% } %>
<div class="precio-create">
    <label class="label" for="precio">Marca:</label>
    <select name="marca">
        
        <% for(let i = 0; i < marcas.length; i++) {%> 
            <option value="<%= marcas[i].id %>" <%= locals.oldData && marcas[i].id == oldData.marca ? 'selected' : null %>><%= marcas[i].nombre %></option>
        <% } %>  

                    
    </select>
</div>
<div class="precio-create">
    <label class="label" for="precio">Categoría:</label>
    <select name="categorias">
        
        <% for(let i = 0; i < categorias.length; i++) {%> 
            <option value="<%= categorias[i].id %>" <%= locals.oldData && categorias[i].id == oldData.categorias ? 'selected' : null %>><%= categorias[i].nombre %></option>
        <% } %>  
                    
    </select>
</div>
<div class="precio-create">
    <label class="label" for="precio">Color:</label>
    <select name="color">
        
        <% for(let i = 0; i < color.length; i++) {%> 
            <option value="<%= color[i].id %>" <%= locals.oldData && color[i].id == oldData.color ? 'selected' : null %>><%= color[i].nombre %></option>
            <% } %>  
                    
    </select>
</div>
<div class="precio-create">
    <label class="label" for="precio">Memoria:</label>
    <select name="memoria">
        
        <% for(let i = 0; i < memoria.length; i++) {%> 
            <option value="<%= memoria[i].id %>" <%= locals.oldData && color[i].id == oldData.color ? 'selected' : null %>><%= memoria[i].valor %></option>
        <% } %>  
                    
    </select>
</div>
<div class="precio-create">
    <label class="label" for="precio">Pantalla:</label>
    <select name="pantalla">
        
        <% for(let i = 0; i < pantalla.length; i++) {%> 
            <option value="<%= pantalla[i].id %>" <%= locals.oldData && pantalla[i].id == oldData.pantalla ? 'selected' : null %>><%= pantalla[i].tamaño %></option>
        <% } %>  
                    
    </select>
</div>
<div class="precio-create">
    <label class="label" for="precio">Procesador:</label>
    <select name="procesador">
        
        <% for(let i = 0; i < procesador.length; i++) {%> 
            <option value="<%= procesador[i].id %>" <%= locals.oldData && procesador[i].id == oldData.procesador ? 'selected' : null %>><%= procesador[i].nombre %></option>
        <% } %>  
                    
    </select>
</div>
<div class="precio-create">
    <label class="label" for="precio">Ram:</label>
    <select name="ram">
        
        <% for(let i = 0; i < ram.length; i++) {%> 
            <option value="<%= ram[i].id %>" <%= locals.oldData && ram[i].id == oldData.ram ? 'selected' : null %>><%= ram[i].valor %></option>
        <% } %>  
                    
    </select>
</div>
<div class="precio-create">
    <label class="label" for="precio">Sistema Operativo:</label>
    <select name="sistema_operativo">
        
        <% for(let i = 0; i < sistemaOperativo.length; i++) {%> 
            <option value="<%= sistemaOperativo[i].id %>" <%= locals.oldData && sistemaOperativo[i].id == oldData.sistema_operativo ? 'selected' : null %>><%= sistemaOperativo[i].nombre %></option>
        <% } %>  
                    
    </select>
</div>
